<div id="sidebar">
    <div class="panel">
        <div class="header">
            <span class="col_fade">Personal Info</span>
        </div>
        <div class="inner">
            <div class="user_card">
                <div>
                    <a class="user_avatar" href="{{ url_for('index.userinfo', name=u.username) }}">
                        <img src="{{ u.image }}" title="{{ u.username }}">
                    </a>
                    <span class="user_name"><a class="dark"
                                               href="{{ url_for('index.userinfo', name=u.username) }}">{{ u.username }}</a></span>
                    <div>
                      <span class="signature">
                        “
                          {{ u.signature }}
                        ”
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if current_user() is not none %}
        <div class="panel">
            <div class="inner">
                <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                    <span class="span-success">New Topic</span>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <div class="auto-jsCalendar material-theme micro-theme green"></div>
    </div>

</div>