#Welcome_text {
    top: 11vw;
    left: 20vw;
    font-size: 11vw;
}

#header_welcome #banner_welcome {
    top: 20vw;
    height: 22vw;
}

#Header_Text_welcome {
    top: 28vw;
}

#Browse_text_welcome {
    top: 50vw;
}

#start {
    top: 60vw;
}