#GR_article_1 {
    width: 82%;
    border-right: 1px solid rgba(136, 136, 136, 0.3);
    /* height: 40vw; */
    /*height:100%;*/
    padding: 2vw;
    border-left: 1px solid rgba(136, 136, 136, 0.3);
}

#GR_article_1 #headline {
    text-transform: uppercase;
    font-size: 3vw;
    text-align: center;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}


/* Instruction Manual */

#GR_article_1 #Instruction-Manual {
    position: relative;
    background: #f1f1f1f1;
    height: 90%;
    border: black 3px solid;
    transition: all 1s ease;
    margin-top: 1em;
    border-radius: 10px
}

#GR_article_1 #Instruction-Manual:hover {
    box-shadow: 10px 10px 10px #BB9B49;
    border-color: black;
    transform: scale(1.07)
}

#GR_article_1 #Instruction-Manual #Manual-Heading {
    display: block;
    text-align: center;
    padding: 0.5em 0em;
    font-size: 2.3em;
    background-color: black;
    color: white;
    font-family: 'Grumpy Black 48', serif, georgia, serif;
    margin-top: 0
}

#GR_article_1 #Instructions {
    color: black;
    /* display: none; */
    padding: 1em;
    text-align: center;
}

.GW-prev,
.GW-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -1em 0.2em 0em;
    padding: 0.5em;
    color: #BB9B49;
    font-weight: bold;
    font-size: 3em;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: all 0.3s ease
}

.GW-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.GW-prev:hover,
.GW-next:hover {
    background-color: #BB9B49;
    color: white;
}

.miningData {
    border: 2px black;
    padding: 1em;
    margin-top: 1em;
}

.miningData {
    padding: 1em;
    margin-top: 1em;
}

.miningData h1 {
    font-size: 2em;
    text-align: center;
    padding: 0.5em 0em 0.5em
}

.miningData h2 {
    font-size: 1.5em;
    text-align: center;
}

.miningData p {
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em 0em 0.5em
}