section#timeline
    .container
        .icon
            img#boat.hvr-bounce-in(src='./img/boat_2.png')
            img#gold.hvr-bob(src='./img/gold_2.png ')
            img#helmet.hvr-wobble-skew(src='./img/helmet.png ')
            img#shield.hvr-hang(src='./img/shield_2.png ')
            img#city.hvr-grow-rotate(src='./img/city_2.png ')
        .timeline
            .start
        .entries
            .entry.project
                .dot
                .label
                    .time
                        | 1787 —
                    .detail
                        | Convicts
            .entry.study
                .dot
                .label
                    .time
                        | 1850 —
                    .detail
                        | Gold Rush
            .entry.project
                .dot
                .label
                    .time
                        | 1914 — 1918
                    .detail
                        | World War I
            .entry.study
                .dot
                .label
                    .time
                        | — 1954
                    .detail
                        | Korean War
            .entry.life
                .dot
                .label
                    .time
                        | Current
                    .detail
                        | Summary
