<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flip Effect</title>
    <link rel="stylesheet" href="./flip.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../lib/turn.min.js"></script>
</head>

<body>
    <section>
        <div class="flipbook-viewport">
            <div class="container">
                <div class="flipbook">
                    <div class="hard">P1</div>
                    <div class="hard">P2</div>
                    <div>P3</div>
                    <div>P4</div>
                    <div>P5</div>
                    <div>P6</div>
                    <div class="hard">P7</div>
                    <div class="hard">P8</div>
                </div>
            </div>
        </div>
    </section>

    <script src="./flip.js"></script>
</body>

</html>