<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/topic">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">ChatRoom</li>
      </ol>
    </nav>

    <div class="container text-center">
        <div id='id-div-channels'>
            <h1 id='id-div-channels-title'>Chat Room</h1>
            <ul class="list-group list-group-horizontal" style="margin: 2vw 0;">
                <a class="rc-channel list-group-item list-group-item-action list-group-item-success" href="#">hall</a>
                <a class="rc-channel list-group-item list-group-item-action list-group-item-warning" href="#">game</a>
                <a class="rc-channel list-group-item list-group-item-action list-group-item-primary" href="#">water</a>
            </ul>
        </div>
        <h3>Click above rooms to join</h3>
        <textarea id="id_chat_area" cols="80" rows="20" readonly></textarea><br><br>
        <div>
            <input id="text" size="80" placeholder="Enter your message here, press enter to send message">
            <button class="btn btn-success" id="id-sendMsg" style="margin-left: 2vw;">Send</button>
        </div>
        <br>
    </div>
    <script src="/static/js/chat.js"></script>
</body>
</html>