.pure-drawer {
    font-size: 14pt;
    background: #fcfcfc;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    list-style-type: none;
}

.nav-btns div {
    cursor: pointer;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
}